fastapi
uvicorn
python-jose[cryptography]
sqlalchemy
pydantic-settings
psycopg[binary]
boto3
requests
pytesseract
python-docx
langchain-core
langchain-text-splitters
numpy
qdrant-client
pymupdf
pydantic[email]
httpx
sentence-transformers
einops
torch